{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'styles.css' %}">

    <title>edit show</title>
</head>

<body>
    {% include "header.html" %}

    <div class="centered" style="font-size: 25pt;">
        <h1>Edit Show: {{ show.name }}</h1>

        <img id="bannerpreview" style="width: 100%;" src="{{ show.banner.url }}" alt="banner preview">
        <br>
        <br>
        <form action="/editshow/{{ show.id }}" method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <h2 style="margin-bottom: 5px; margin-top: 0;">upload show banner (optional)</h2>
            <span>image will be resized to 800x200, preview of uploaded image shown above</span>
            <input data-max-width="800" data-format="png" data-max-height="200" name="banner" accept="image/*"
                type="file" data-preview="#bannerpreview">

            <h2 style="margin-bottom: 5px;">show name</h2>
            <input name="name" type="text" value="{{ show.name }}">

            <h2 style="margin-bottom: 5px;">description</h2>
            <textarea rows=6 name="description">{{ show.description }}</textarea>
            <br>
            <br>

            <button style="width: fit-content;">save changes</button>
        </form>
    </div>
</body>

</html>