{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'styles.css' %}">

    <title>lineinradio</title>
</head>

<body>
    {% include "header.html" %}

    <div class="centered">
        <h1>Hey there! Click play to listen in!</h1>
        <div id="radioplayer">
            <div>
                <button id="playstop">⏵︎</button>
                <div style="display: flex; color: white;">
                    vol
                    <input type="range" min="0" max="100" id="volslider" style="width: 90px">
                </div>
            </div>
            <canvas id="radiocanvas"></canvas>
        </div>

        <br>
        <h2 style="margin-top: 0;">{{ sch.current_bloc_name }}</h2>
        <div style="margin-left: 40px;">
            {% for slot in sch.current_slots %}
            {% include "slot.html" with slot=slot %}
            {% endfor %}
        </div>
    </div>
</body>

<script>
    const volslider = document.getElementById("volslider");
    volslider.value = 50;
    const playstop = document.getElementById("playstop");
    const rc = document.getElementById("radiocanvas");
    const rcx = rc.getContext("2d");
    var waves = [];
    waves.push({ "height": 50, "color": "#fff" });
    var stopped = true;
    var audio;

    function getsource() {
        var radiourl;
        if (window.location.hostname == "localhost") {
            radiourl = "http://localhost:8003/";
        } else {
            radiourl = "https://" + window.location.host + "/radio/";
        }
        return radiourl;
    }

    playstop.onclick = () => {
        if (playstop.innerHTML == "⏵︎") {
            audio = new Audio();
            audio.loop = false;
            audio.autoplay = false;
            audio.controlsList = "nodownload";
            audio.crossOrigin = "anonymous";
            audio.preload = "none";
            audio.src = getsource();
            audio.play();

            playstop.innerHTML = "⏹︎";
            stopped = false;
        } else if (playstop.innerHTML == "⏹︎") {
            audio.src = "";
            playstop.innerHTML = "⏵︎";
            stopped = true;
        }
    }

    rcx.fillStyle = "#000";
    rcx.fillRect(0, 0, rc.width, rc.height);

    function randint(min, max) {
        const minCeiled = Math.ceil(min);
        const maxFloored = Math.floor(max);
        return Math.floor(Math.random() * (maxFloored - minCeiled) + minCeiled);
    }

    var waveinterval = setInterval(function () {
        rcx.fillStyle = "#000";
        rcx.fillRect(0, 0, rc.width, rc.height);

        for (var i = 0; i < 150; i++) {
            var wi = (waves.length - 1) - i;
            if (wi < 0) continue;
            if (rc.width - (i * 5) + 2 < 0) {
                waves.shift();
                continue;
            }

            rcx.strokeStyle = waves[wi].color;
            rcx.beginPath();
            rcx.moveTo(rc.width - (i * 5) + 2, rc.height - 10);
            rcx.lineTo(rc.width - (i * 5) + 2, rc.height - 10 - waves[wi].height);
            rcx.stroke();
        }

        var newheight = waves[waves.length - 1].height + randint(-10, 12);
        var bounded = Math.max(Math.min(100, newheight), 5);
        if (!stopped)
            waves.push({ "height": bounded, "color": "#fff" });
    }, 250);

    volslider.oninput = (e) => {
        audio.volume = (e.target.value / 100);
    }
</script>

<style>
    #radioplayer {
        display: flex;
        background-color: black;
    }

    #radiocanvas {
        height: 120px;
        width: 100%;
    }

    #playstop {
        width: 120px;
        height: 100px;
        border-radius: 0;
        background-color: black;
        color: white;
        font-size: 50px;
    }

    #volslider {
        accent-color: white;
        width: 120px;
        padding: 0;
        margin: 0;
        border: 0;
    }
</style>

</html>